.control-upload {
    width: 100%;
    height: inherit;
    border-radius: var(--bs-border-radius-sm);
}

.control-upload .filepond--root {
    width: 100%;
    height: inherit;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.control-upload .filepond--panel-root {
    border-radius: var(--bs-border-radius-sm);
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.control-upload .filepond--drop-label {
    height: inherit;
}

.control-upload .filepond--drop-label label {
    padding: .5rem .75rem;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(var(--elements-primary-bg));
}

.control-upload .filepond--drop-label .svg-inline--fa {
    color: inherit !important;
}

.control-upload .filepond--label-action {
    color: rgb(var(--elements-primary-bg)) !important;
    text-decoration: none;
}

.control-upload .filepond--item-panel,
.control-upload [data-filepond-item-state='processing-complete'] .filepond--item-panel {
    border-radius: var(--bs-border-radius);
    background-color: rgba(var(--elements-secondary-bg), .5);
}

.control-upload .filepond--file {
    color: rgb(var(--elements-main-text));
}

.control-upload .filepond--file-info-main,
.control-upload .filepond--file-status-main {
    font-size: .75rem;
}

.control-upload .filepond--file-action-button {
    color: rgb(var(--elements-main-bg));
    background-color: rgb(var(--elements-primary-bg));
}

.control-upload .filepond--file-action-button:focus,
.control-upload .filepond--file-action-button:hover {
    box-shadow: 0 0 0 .125rem rgb(var(--elements-primary-bg-shaded));
}

.control-upload:not([disabled]):focus-within {
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
}

.control-upload .filepond--root[data-disabled] .filepond--panel-root {
    background-color: rgb(var(--elements-main-bg));
}

.control-upload .filepond--root[data-disabled] .filepond--drop-label label {
    color: rgb(var(--elements-main-text));
    cursor: default;
}
