/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements. See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to you under the Apache License, Version 2.0.
 */

/* CONTROL */
#select-dropbox-portal,
#select-dropbox-portal-modal {
    position: static;
}

.control-select.vscomp-ele {
    flex: 1 1 auto;
    max-width: none;
    min-width: 0;
    width: 1%;
}

.control-select .vscomp-wrapper {
    color: rgb(var(--elements-main-text));
    font-family: inherit;
    font-size: inherit;
}

.control-select .vscomp-toggle-button {
    min-height: calc(1rem + .75rem + .142857rem);
    padding: var(--elements-spacing-y) 2.25rem var(--elements-spacing-y) var(--elements-spacing-x);
    border: none;
    border-radius: var(--bs-border-radius-sm);
    background-color: rgb(var(--elements-main-bg));
    color: rgb(var(--elements-main-text));
    font-weight: bold;
}

.control-select .vscomp-value {
    height: 1.5rem;
    line-height: 1.5rem;
    user-select: text;
}

.control-select .vscomp-wrapper:not(.has-value) .vscomp-value {
    opacity: .5;
}

/* ARROW AND CLEAR BUTTONS */
.control-select .vscomp-arrow {
    width: 2.25rem;
    color: rgba(var(--elements-main-text), .7);
}

.control-select .vscomp-arrow::after {
    width: auto;
    height: auto;
    margin: 0;
    border: 0;
    transform: none;
    color: inherit;
    content: "\f107";
    font-family: FontAwesome;
    font-size: 1rem;
    font-weight: normal;
}

.control-select .vscomp-clear-button {
    right: 2.25rem;
    color: rgba(var(--elements-main-text), .7);
}

.control-select .vscomp-clear-button:hover {
    background: none;
}

.control-select .vscomp-clear-icon::before,
.control-select .vscomp-clear-icon::after,
.control-select .vscomp-clear-button:hover .vscomp-clear-icon::before,
.control-select .vscomp-clear-button:hover .vscomp-clear-icon::after {
    background-color: currentColor;
}

/* FOCUS */
.control-select .vscomp-wrapper.focused .vscomp-toggle-button,
.control-select .vscomp-wrapper:focus .vscomp-toggle-button {
    border: none;
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
}

/* DROPDOWN */
.control-select .vscomp-dropbox-container,
.control-select .vscomp-dropbox,
.control-select .vscomp-options-container,
.control-select .vscomp-options-list {
    animation: none !important;
    transition: none !important;
    transition-duration: 0s !important;
}

.control-select .vscomp-dropbox {
    overflow: hidden;
    isolation: isolate;
    padding: calc(var(--elements-spacing-y) / 2) var(--elements-spacing-y);
    border: none;
    border-radius: var(--bs-border-radius-lg);
    box-shadow: 0 .25rem .75rem rgba(var(--bs-body-color-rgb), .15);
    background-color: rgba(var(--elements-main-fg), .6);
    color: rgb(var(--elements-main-text));
    backdrop-filter: blur(1.5rem);
    -webkit-backdrop-filter: blur(1.5rem);
}

.control-select .vscomp-dropbox-container.pop-comp-wrapper {
    border: 0;
    border-radius: var(--bs-border-radius-lg);
    background: transparent;
    box-shadow: none;
}

.control-select .vscomp-dropbox-container {
    margin-top: var(--elements-spacing-y);
    z-index: 10;
}

.control-select .vscomp-options-container {
    border-radius: var(--bs-border-radius-sm);
    overscroll-behavior: contain;
    overscroll-behavior-y: none;
}

.control-select .vscomp-options-list {
    contain: layout paint;
}

.control-select .vscomp-options {
    backface-visibility: hidden;
    will-change: transform;
}

.control-select .vscomp-options-bottom-freezer {
    background-color: transparent;
}

.control-select .vscomp-search-container {
    height: auto;
    margin: 0;
    padding:
        calc(.75rem - (var(--elements-spacing-y) / 2))
        calc(.75rem - var(--elements-spacing-y));
    border: 0;
    background: transparent;
}

.control-select .vscomp-search-container:focus-within::after,
.control-select .vscomp-wrapper:not(.closed) .vscomp-search-container::after {
    position: absolute;
    z-index: 2;
    top: calc(.75rem - (var(--elements-spacing-y) / 2));
    right: calc(.75rem - var(--elements-spacing-y));
    bottom: calc(.75rem - (var(--elements-spacing-y) / 2));
    left: calc(.75rem - var(--elements-spacing-y));
    border-radius: var(--bs-border-radius-sm);
    box-shadow: 0 0 0 .25rem rgb(var(--elements-primary-bg-shaded));
    content: "";
    pointer-events: none;
}

.control-select .vscomp-search-input {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 2rem;
    padding: var(--elements-spacing-y) var(--elements-spacing-x);
    border: 0;
    border-radius: var(--bs-border-radius-sm);
    background-color: rgb(var(--elements-main-bg));
    color: rgb(var(--elements-main-text));
    font-size: inherit;
    font-weight: normal;
}

.control-select .vscomp-search-input:focus,
.control-select .vscomp-search-input:focus-visible {
    outline: none;
    box-shadow: none !important;
}

.control-select .vscomp-search-clear {
    display: none;
}

.control-select .vscomp-option {
    padding: 0;
    color: rgb(var(--elements-main-text));
    font-weight: normal;
}

.control-select .vscomp-wrapper.multiple .vscomp-option {
    padding-left: .5rem;
}

.control-select .vscomp-option-text {
    margin: calc(var(--elements-spacing-y) / 2) 0;
    border-radius: var(--bs-border-radius-sm);
    padding: .575rem;
    padding-left: 1rem;
}

@media (max-width: 420px) {
    .control-select .vscomp-option-text {
        padding: .4rem;
    }
}

.control-select .vscomp-option-text,
.control-select .vscomp-option-description {
    font-weight: normal;
}

.control-select .vscomp-option.focused:not(.selected),
.control-select .vscomp-option:hover:not(.selected):not(.disabled):not(.group-title) {
    background-color: transparent !important;
    color: rgb(var(--elements-main-text)) !important;
}

.control-select .vscomp-option.focused:not(.selected) .vscomp-option-text,
.control-select .vscomp-option:hover:not(.selected):not(.disabled):not(.group-title) .vscomp-option-text {
    background-color: rgb(var(--elements-primary-bg-shaded));
}

.control-select .vscomp-option.selected,
.control-select .vscomp-option.selected.focused {
    background-color: transparent !important;
    color: rgb(var(--elements-primary-text)) !important;
}

.control-select .vscomp-option.selected .vscomp-option-text,
.control-select .vscomp-option.selected.focused .vscomp-option-text {
    background-color: rgb(var(--elements-primary-bg));
}

.control-select .vscomp-option.selected .vscomp-option-text,
.control-select .vscomp-option.selected .vscomp-option-description {
    color: rgb(var(--elements-primary-text)) !important;
}

.control-select .vscomp-option.disabled {
    color: rgba(var(--elements-main-text), .5);
    opacity: 1;
}

.control-select .vscomp-no-options,
.control-select .vscomp-no-search-results,
.control-select .vscomp-options-loader {
    color: rgba(var(--elements-main-text), .7);
}

.control-select .vscomp-options-loader::before {
    background-color: rgb(var(--elements-primary-bg));
}

/* MULTIPLE SELECTION */
.control-select .vscomp-wrapper .checkbox-icon::after {
    border-color: rgba(var(--elements-main-text), .7);
    border-radius: var(--bs-border-radius-lg);
}

.control-select .vscomp-wrapper.multiple .vscomp-option.selected .checkbox-icon::after {
    transform: rotate(90deg) translate(0, -.25rem);
    border-color: rgb(var(--elements-primary-bg));
    background-color: rgb(var(--elements-primary-bg));
}

.control-select .vscomp-value-tag {
    border: 0 !important;
    border-radius: var(--bs-border-radius-sm) !important;
    background-color: rgb(var(--elements-primary-bg-shaded));
    color: rgb(var(--elements-main-text));
}

/* READONLY */
.control-select[disabled] .vscomp-wrapper {
    opacity: 1;
}

.vscomp-ele[disabled] {
    cursor: default;
}

.control-select[disabled] .vscomp-toggle-button {
    background-color: rgba(var(--elements-main-bg), .4);
    color: rgb(var(--elements-main-text));
}

.control-select[disabled] .vscomp-wrapper.focused .vscomp-toggle-button,
.control-select[disabled] .vscomp-wrapper:focus .vscomp-toggle-button {
    box-shadow: none;
}

.control-select[disabled] .vscomp-value {
    pointer-events: auto;
    user-select: text;
    cursor: default;
}

.control-select[disabled] .vscomp-clear-button {
    display: none !important;
}

/* INPUT GROUP, ACTIONS AND HELP */
.component-form-field:has(.control-select.pop-comp-active) {
    position: relative;
    z-index: 10;
}

.input-group:has(.control-select.pop-comp-active),
.control-select.pop-comp-active {
    z-index: 10;
}

.input-group > .control-select:not(:last-child) .vscomp-toggle-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.component-form-field:has(.help-message.collapsing, .help-message.collapse.show)
    .control-select .vscomp-toggle-button {
    border-bottom-left-radius: 0;
}

.input-group:has(.control-select[disabled]) > a,
.input-group:has(.control-select[disabled]) > button {
    background-color: rgba(var(--elements-main-bg), .4) !important;
    color: rgba(var(--elements-main-text), .7) !important;
}
